@page "{id:int}"
@model LibreriaPapeleriaApp.Pages.Productos.DeleteModel
@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>

<h3>¿Estás seguro de que deseas eliminar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Producto.Nombre
        </dd>
        <dt class="col-sm-2">
            Precio
        </dt>
        <dd class="col-sm-10">
            @Model.Producto.Precio.ToString("C")
        </dd>
    </dl>

    <form method="post">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
